<div class="container">
  <div>
    <div class='row'>
      <div class='col-md-2'>
        <div class="team-scroll">

          <div ng-click='teamctrl.filterChange("")'>
            <h1 class="teams-continent-header"> Global </h1>
            <img class="teams-continent" src="assets/images/Global.jpg" alt="Global">
            <hr>
          </div>
          <div ng-click='teamctrl.filterChange("america")'>
            <h1 class="teams-continent-header"> America </h1>
            <img class="teams-continent" src="assets/images/America.jpg" alt="America">
            <hr>
          </div>

          <div ng-click='teamctrl.filterChange("europe")'>
            <h1 class="teams-continent-header"> Europe </h1>
            <img class="teams-continent" src="assets/images/Europe.jpg" alt="Europe">
            <hr>
          </div>

          <div ng-click='teamctrl.filterChange("sea")'>
            <h1 class="teams-continent-header"> Asia </h1>
            <img class="teams-continent" src="assets/images/Asia.jpg" alt="Asia">
            <hr>
          </div>

          <div ng-click='teamctrl.filterChange("china")'>
            <h1 class="teams-continent-header"> China </h1>
            <img class="teams-continent" src="assets/images/China.jpg" alt="China">
          </div>
        </div>
      </div>
      <div class='col-md-10 teams-wrapper'>

        <div class="team-scroll">
          <div class="col-md-4" ng-repeat="team in teamctrl.teams | filter:{region: teamctrl.zone}">
            <div class="thumbnail">
              <div class="caption">
                <img class="pull-right team._logo img-circle" ng-src="{{main.image_prefix + team.logo}}" alt="{{ team.title }}">
                <h4 class='team-header'> {{team.title}} </h4>
                <p class='team-content'>{{ team.description }} </p>
                <p><a ng-href="{{team.url}}">{{ team.url }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
