$blueColor: #0065cc;

.guy.thumbnail img.pull-right {
  width: 80px;
}

form.tab-form-demo .tab-pane {
  margin: 20px 20px;
}

.teams-wrapper{
  border-left: 1px black solid;
}

.teams-continent{
  width: 100%;
}

.teams-continent-header{
  text-align: center;
  color: $blueColor;
}

.team-scroll{
  width: 100%;
  height: 700px;
  overflow-y: scroll;
}

.team-header{
  color: $blueColor;
}

.team-content{
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
 -webkit-line-clamp: 5;
 -webkit-box-orient: vertical;
  word-break: break-all;
}
