.nameLeft {
  padding-left: 50px;
  padding-top: 40px;
  text-align: left;
  float: left;
}

.nameRight {
  padding-right: 50px;
  padding-top: 40px;
  text-align: right;
  float: right;
}

.opponent_data {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.team_logo_left {
  height: 100px;
  width: 100px;
  float: right;
}

.team_logo_right {
  height: 100px;
  width: 100px;
  float: left;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.show_border {
  border: 1px solid black;
}

.between_opponents {
  padding-left: 40%;
}
