
<div class = 'container'>
  <div class='gray_back'>
    <div class='opponents' style='padding-top: 50px;'>
      <h1 style='text-align: center;'> ESL LAN FINAL </h1>
    </div>

    <div class='opponent_data'>
      <div class='row'>

        <div class='col-md-5'>
          <a href='/#/'><label class='nameLeft'>{{sMatchctrl.match[0].team1.title}}</label> </a>
          <img class='team_logo_left' src='{{main.image_prefix + sMatchctrl.match[0].team1.logo}}'>
        </div>

        <div class='col-md-2' style='text-align: center;'>
          <label ng-if='sMatchctrl.match[0].bestof' > Best Of {{sMatchctrl.match[0].bestof}} </label>
          <p> {{sMatchctrl.match[0].date | date}} </p>
          <p> {{sMatchctrl.match[0].date | date : 'H:mm'}} </p>

          <label ng-if='sMatchctrl.match[0].ended' style='padding-left: 41%'> {{sMatchctrl.match[0].score1}} : {{sMatchctrl.match[0].score2}} </label>
        </div>

        <div class='col-md-5'>
          <img class='team_logo_right' src='{{main.image_prefix + sMatchctrl.match[0].team2.logo}}'>
          <a href='/#/'><label class='nameRight'>{{sMatchctrl.match[0].team2.title}}</label> </a>
        </div>

      </div>
    </div>

    <div class='streams'>
      
    </div>




      <!-- <iframe src="http://player.twitch.tv/?channel=dotademon" frameborder="0" scrolling="no" height="378" width="620"></iframe> -->

  </div>

</div>
