<div class="col-md-6">
  <label> eSports news </label>
  <div class="starter-template gray_back" ng-repeat='post in home.posts | limitTo: 5'>
    <h4> <a href="/post/{{post.id}}">{{post.topic}} </a></h4>
    <img ng-if=post.picture class="postPic" src="{{main.image_prefix + post.picture}}" width="100%">
    <p class="m">{{post.content}}</p>
    <p class="ending-of-post">Date: {{post.date | date}}</p>

  </div>

</div>

<div class="col-md-3">
  <label> Latest Tournaments </label>
  <pre> {{home.posts}} </pre>
</div>

<div class="col-md-3">
  <label> Main Menu </label>
  <pre> {{cate.posts}} </pre>
</div>
