<div class="col-md-9">
  <label> eSports news </label>

  <div class="starter-template gray_back">
    <h4> {{single.post.topic}} </h4>
    <img class="postPic" src="{{main.image_prefix + single.post.picture}}" width="100%">
    <p>{{single.post.content}}</p>
    <p class="ending-of-post">Date: {{single.post.date | date}}</p>
    <hr>
  </div>


</div>

<div class="col-md-3">
  <label> Main Menu </label>
  <pre> {{single.post}} </pre>
</div>
