<div class="container" id="toporino">
  <div class="row">
    <div class="col-md-6">
      <pre> {{ teamctrl.team | json }} </pre>
      <form ng-submit="teamctrl.Send()" enctype="multipart/form-data">
        <div class='row'>

          <div class='col-md-6'>
            <div class="form-group">
              <label for="usr">Багийн Нэр:</label>
              <input type="text" class="form-control" ng-model="teamctrl.team.title">
            </div>
          </div>

          <div class='col-md-6'>
            <div class="form-group">
              <label> Багийн Лого: </label>
              <input type="file" file-model="teamctrl.team.logo">
            </div>
          </div>
        </div>

        <div class='row'>
          <div class='col-md-6'>
            <div class="form-group">
              <label> Багийн Спонсор: </label>
              <input type="text" class="form-control" ng-model="teamctrl.team.sponsor">
            </div>
          </div>
          <div class='col-md-6'>
            <div class="form-group">
              <label>Багийн бүс нутаг:</label>
              <select class="form-control" ng-model="teamctrl.team.region">
                <option value="">Choose Region</option>
                <option value="america">Americas</option>
                <option value="europe">Europe</option>
                <option value="sea">SE Asia</option>
                <option value="china">China</option>
              </select>
            </div>
          </div>
        </div>

        <div class='row'>
          <div class='col-md-6'>
            <div class="form-group">
              <label> Багийн Эзэн: </label>
              <input type="text" class="form-control" ng-model="teamctrl.team.owner">
            </div>
            <button style="left: 35%; position:relative;" type="submit" class="btn btn-default">Оруулах</button>
          </div>
          <div class='col-md-6'>
            <div class="form-group">
              <label>Багийн танилцуулга:</label>
              <textarea class="form-control" rows="5" ng-model="teamctrl.team.description"></textarea>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
