<div id="wrapper" class='white_back'>

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand" style='color: #ffffff'>
        Start Bootstrap
      </li>
      <li>
        <a ui-sref="admin.newPost">New Post</a>
      </li>
      <li>
        <a ui-sref="admin.newTeam">New Team</a>
      </li>
      <li>
        <a ui-sref="admin.newMatch">New Match</a>
      </li>
      <li>
        <a ui-sref="admin.match.result">Report Match Result</a>
      </li>
      <!--
      <li>
        <a href="#">Edit or Add Player</a>
      </li> -->
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
  <div>
    <h1 style='text-align: center;'> Welcome To Admin Panel </h1>
    <h1 style='text-align: center;'> You can add new Post, new Team, and new Match (with match result report). </h1>
  </div>
  <div ui-view> </div>

</div>

<script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>
