<div class='container'>
<div class="row">
  <div class="col-md-9">
    <!-- Swiper -->
    <swiper> </swiper>
    <!-- Swiper End -->
  </div>

  <div class="col-md-3">
    <matches> </matches>
  </div>
</div>
<div ui-view> </div>

</div>
