<div ng-controller='SwiperController as swipe' class='SEE'>
<ks-swiper-container swiper="swiper"
  ng-if="swipe.posts.length"
  slides-per-view="1"
  slides-per-column="1"
  space-between="0"
  pagination-is-active="true"
  pagination-clickable="false"
  show-nav-buttons="false"
  autoplay="2000"
  autoplayDisableOnInteraction='false'
  initial-slide="0"
  direction="horizontal"
  speed='500'
  override-parameters="{ 'loop': 'true'
                        }">
  <ks-swiper-slide class="swiper-slide" ng-repeat='post in swipe.posts'>

    <div ng-if=post.picture style="background-image:url( '{{ main.image_prefix + post.picture}}' );" class="new">
      <div class='showcase-caption'>
        <h4> <a class='Slider-Heading' href="#/post/{{post.id}}">{{post.topic}} </a> </h4>
        <p class='Slider-Content'> {{post.content}} </p>
      </div>
    </div>

  </ks-swiper-slide>
</ks-swiper-container>
</div>
