<div class="container" id="toporino">
  <div class="row">
    <div class="col-md-6">
      <p>We have {{new.posts.length}} posts </p>

      <table class="table table-condensed">
        <thead>
          <tr>
            <th style="width: 100px">Topic</th>
            <th style="width: 100px">Date</th>
            <th style="width: 100px">Category</th>
            <th>Content</th>
          </tr>
        </thead>
        <tbody ng-repeat="post in new.posts">
          <tr>
            <td>{{post.topic | limitTo: 13}}</td>
            <td>{{post.date | date}}</td>
            <td>{{post.category}}</td>
            <td>{{post.content | limitTo:25}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-6">
      <pre> {{ new.newPost | json }} </pre>
      <form ng-submit="new.Submit()" enctype="multipart/form-data">

        <div class="form-group">
          <label for="usr">Мэдээний Гарчиг:</label>
          <input type="text" class="form-control" ng-model="new.newPost.Topic">
        </div>

        <div class="form-group">
          <label>Мэдээ:</label>
          <textarea class="form-control" rows="13" ng-model="new.newPost.Content"></textarea>
        </div>

        <div class='row'>
          <div class='col-md-6'>
            <div class="form-group">
              <label>Category:</label>
              <select class="form-control" ng-model="new.newPost.Category">
                <option value="">choose one category</option>
                <option value="dota">DotA</option>
                <option value="csgo">CS:GO</option>
                <option value="lol">LoL</option>
              </select>
            </div>  
          </div>
          <div class='col-md-6'>
            <div class="form-group">
              <label>Мэдээний зураг:</label>
              <input type="file" file-model="new.newPost.pic" name="pic">
              <!-- <input type="file" ngf-select ng-model="new.newPost.pic">
                <input type="file" ng-file-select="new.upload($files)"> -->
            </div>
          </div>
        </div>

        <div class='row'>
          <div class='col-md-6'>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true" ng-model="new.newPost.Top">Онцлох мэдээ</label>
            </div>
          </div>
          <div class='col-md-6'>
            <button type="submit" class="btn btn-default">Оруулах</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
