.footer{
  background-color: #eeeeee;
}

#bottom{
  margin-top: 50px;
  height: 235px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.bottom_black{
  height: 30px;
  margin-top: 135px;
  background-color:  #cce5ff;
}

.rights{
  margin-left: 75%;
  margin-right: 5%;
  margin-top: 30px;
  margin-bottom: 0px;
};
