<div class="container" id="toporino">
  <div class="row">
    <div class="col-md-6">
      <pre> {{matchctrl.match | json}} </pre>
      <form ng-submit="matchctrl.Send()" enctype="multipart/form-data">

        <div class='row'>
          <div class='col-md-6'>
            <div class="form-group">

              <label>Тоглох баг 1:</label>
              <select class="form-control" ng-model="matchctrl.match.team1_id" ng-options="team.id as team.title for team in matchctrl.teams">
                <option value=""> Choose Team </option>

              </select>
            </div>
          </div>
          <pre> {{ newMatchController.teams | json}} </pre>
          <div class='col-md-6'>
            <div class="form-group">
              <label>Тоглох баг 2:</label>
              <select class="form-control" ng-model="matchctrl.match.team2_id" ng-options="team.id as team.title for team in matchctrl.teams">
                <option value=""> Choose Team </option>
              </select>
            </div>
          </div>
        </div>


        <div class='row'>
          <div class='col-md-6'>
            <div class="form-group">
              <label for="usr">Тоглолтын цаг өдөр:</label>
              <datetimepicker ng-model="matchctrl.match.date" ></datetimepicker>
            </div>
          </div>
          <div class='col-md-4 col-md-offset-2'>
            <div class="form-group">
              <label>Тоглох тоглолтын тоо</label>
              <select class="form-control" ng-model="matchctrl.match.bestOf">
                <option value=""> Choose one </option>
                <option value="1"> Best of 1 </option>
                <option value="2"> Best of 2 </option>
                <option value="3"> Best of 3 </option>
                <option value="5"> Best of 5 </option>
                <option value="7"> Best of 7 </option>
              </select>
            </div>
            <button type="submit" class="btn btn-default">Оруулах</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
