<nav class="navbar navbar-default" id="nav-bar">
  <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a ui-sref='home.withslider.posts'> <img class="nav-bar-logo" src="assets/images/logo.png" alt="cSports"> </a> <br>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a ui-sref='home.withslider.posts'> <span class="glyphicon glyphicon-home"></span> Нүүр хуудас</a></li>
      <li><a href='/#/category/dota'>DotA 2</a></li>
      <!-- <li><a href='/#/category/csgo'>CS:GO</a></li>
      <li><a href='/#/category/lol'>League Of Legends</a></li>
      <li><a ui-sref="home.teams">Teams</a></li> -->
    </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a ><span class="glyphicon glyphicon-user"></span> The Crew</a></li>
        <li><a ><span class="glyphicon glyphicon-comment"></span> Advertisements</a></li>
      </ul>
    </div>
  </nav>
