:link :active :visited :hover {

  text-decoration: none;
}

body {
  background-color: #e6e6e6;
}

// #00264d

.contents{
  background-color: white;
}

.gray_back {
  background-color: white;
  border: #e7e7e7 1px solid;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.white_back {
  background-color: #ffffff;
  margin-bottom: 20px;
}
