<div class="container-fluid">
    <section class="container">
      <pre> {{reg.newUser}} </pre>
      <form ng-submit="reg.createIt()">
      <div class="col-md-6">
        <h3 class="dark-grey">Registration</h3>
        <div class="form-group col-lg-12">
          <label>Username</label>
          <input ng-model="reg.newUser.username" class="form-control" placeholder="Username">
        </div>

        <div class="form-group col-lg-6">
          <label>Password</label>
          <input ng-model="reg.newUser.password" type="password" class="form-control" placeholder="Password">
        </div>
        <!--
        <div class="form-group col-lg-6">
          <label>Repeat Password</label>
          <input type="password" class="form-control" placeholder="Password">
        </div>

        <div class="form-group col-lg-6">
          <label>Email Address</label>
          <input type="" name="" class="form-control" id="" value="" placeholder="Email">
        </div>

        <div class="form-group col-lg-6">
          <label>Repeat Email Address</label>
          <input type="" name="" class="form-control" id="" value="" placeholder="Email">
        </div>

        <div class="col-sm-6">
          <input type="checkbox" class="checkbox" />Accept User Terms and Conditions
        </div> -->



      </div>

      <div class="col-md-6">
        <h3 class="dark-grey">Terms and Conditions</h3>
        <p>
          By clicking on "Register" you agree to The Company's' Terms and Conditions
        </p>
        <p>
          We don't have any Terms and Conditions yet, but we will come up with something soon.
        </p>
        <p>
          We don't have any Terms and Conditions yet, but we will come up with something soon.
        </p>
        <p>
          We don't have any Terms and Conditions yet, but we will come up with something soon.
        </p>

        <button type="submit" class="btn btn-primary">Register</button>
      </div>

    </div>
  </section>
</div>
