<label> Болох гэж байгаа тоглолтууд </label>

<table class="table table-condensed">
  <thead>
    <!-- <tr>
      <th style="width: 100px">Topic</th>
      <th style="width: 100px">Date</th>
      <th style="width: 100px">Category</th>
      <th>Content</th>
    </tr> -->
  </thead>
  <tbody >
    <tr ng-repeat="match in matchctrl.matches">
      <td>
        <a href='/match/{{match.id}}'>
          <span style='width: 35%; font-size: 12px'>{{match.team1title}}</span>
          <span style='width: 10%; font-size: 12px; color: black'> vs </span>
          <span style='width: 35%; font-size: 12px'>{{match.team2title}}</span>
        </a>
      </td>
      <td style='width: auto; font-size: 12px'>
        <span>
          {{ matchctrl.calculateDiff(match.date) }}
        </span>
      </td>
    </tr>
  </tbody>
</table>
